.banner{
    background: url("https://a0.muscache.com/im/pictures/9517200f-b4fb-4203-b1c2-90ddf913c675.jpg?im_w=1680") center center;
    height: 50vh;
    position: relative;
}

.banner__info{
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}

.banner__info > button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    border: #ff7779;
}

.banner__info > button:hover{
    background-color: white;
    border: white;
    color: #ff7779;
}

.banner__info > h5{
    margin-top: 10px;
}

.banner__search > button{
    background-color: white;
    border: white;
    color: #ff7779;
    font-weight: 900;
    text-transform: inherit;
}

.banner__search > button:hover{
    background-color: white;
    color: #ff7779;
    border: white;
}

.banner__search{
    display: flex;
    flex-direction: column;
}